<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
</head>
<body>
<h1>{{post.title}}</h1>
<p>Author:{{ post.author }}</p>
<p>{{ post.publish }}</p>
<hr>
<p>{{ post.content }}</p>
{% include 'snippets/comment_form.html' %}
{% with comments.count as total_comments %}
<h2>Total Comments: {{total_comments }}</h2>
{% endwith %}

{% for comment in comments %}
    <p>{{ comment.name }} - {{ comment.email }}</p>
    <p>{{ comment.content }}</p>
    <hr>
{% empty %}
    <p>No Comments yet.</p>
{% endfor %}

</body>
</html>